.wsnyc-questionsanswers-title{
    text-align: center;
}

.wsnyc-questionanswers-cartoon{
    width: 393px;
    height: 1273px;
    background: url('../images/laundress-cartoon.png') no-repeat left top;
    left: -400px;
    position: absolute;
    
}

.wsnyc-questionanswers-cartoon-container{
    position: relative;
}


.wsnyc-questionsanswers-button{
    border:1px solid #ccc;
    display:inline-block;
    padding:0px 20px;
    height:25px;
    padding-top:6px;
    text-transform: uppercase;
    margin-right:5px;
}

.wsnyc-questionsanswers-button.first{
    margin-left:30px;
}

.wsnyc-questionsanswers-searchholder{
    display:inline-block;
    padding-top:2px;
    margin-top:2px;
    margin-left:-10px;
}

.wsnyc-questionsanswers-search{
    border:1px solid #ccc;
    display:inline-block;
    padding:0px 10px;
    height:25px;
    padding-top:4px;
    padding-bottom:2px;
    width:240px;
    background: url('../images/wsnyc-questionsanswers-search.gif') no-repeat;
    background-position: 95% 50%;
}



.wsnyc-questionsanswers-category{
    border: 2px solid #000;
    display:inline-block;
    padding:7px;
    margin-right:28px;
    width:25%;
    margin-top:20px;
}

.wsnyc-questionsanswers-category h4{
    font-size: 24px;
    font-family: "Sorts Mill Goudy Regular",serif;
    padding: 20px 0 0 0;
    line-height: 30px;
}

.wsnyc-questionsanswers-category img{
    width:287px;
    height:134px;
}

.wsnyc-questionsanswers-category ul{
    list-style: none;
}

.wsnyc-questionsanswers-category ul li{
    margin: 3px 0;
}

.wsnyc-questionsanswers-category ul a{
    font-family: 'GillSansMTStd',sans-serif;
    font-size: 13px;
    color: #000;
}

.wsnyc-questionsanswers-answer {
    margin-top: 15px;
}

.wsnyc-questionsanswers-question-text{
    font-family: "Sorts Mill Goudy Regular",serif;
    font-style: italic;
    font-size:20px;
    font-weight:bold;
}

.wsnyc-questionsanswers-answer-text{
    font-size:18px;
    color:#666;
    font-weight: normal;
    font-family: 'GillSansMTStd',sans-serif;
}

.wsnyc-questionsanswers-featured-question .wsnyc-questionsanswers-question-text{
    font-family: 'GillSansMTStd',sans-serif;
    font-style: normal;
    font-size:16px;
}

.wsnyc-questionsanswers-featured-answer .wsnyc-questionsanswers-answer-text{
    font-size:14px;
}

.wsnyc-questionsanswers-question-item{
    margin-bottom:20px;
}

/*questions page*/

.wsnyc-questionsanswers-menu-holder{
    border: 3px solid #000;
    margin-top:5px;
    display: block;
    padding:10px 0;
    text-align: center;
    font-family: 'GillSansMTStd',sans-serif;
    font-size: 14px;
}

.wsnyc-questionsanswers-breadcrumbs{
    margin: 10px 0 0 5px;
    color: #777;
    font-family: 'GillSansMTStd',sans-serif;
    font-size: 14px;
}

.wsnyc-questionsanswers-breadcrumbs-sep {
    font-size: 11px;
}

.wsnyc-questionsanswers-menu-category-parent{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;

}
.wsnyc-questionsanswers-menu-category{
    display: inline-block;
    height:20px;
    padding-left:15px;
    margin-right:20px;
}
.wsnyc-questionsanswers-menu-category a{
    color: #000;
}
.wsnyc-questionsanswers-menu-category a.selected{
    color: #64b96a;
}

.wsnyc-questionsanswers-question-holder{
    margin:30px auto;
    width:70%;
}

.wsnyc-questionsanswers-question-holder .big-letter{
    font-size:2.5em;
    font-family: "Sorts Mill Goudy Regular",serif;
    font-weight: bold;
    margin-left: -45px;
    width: 45px;
    margin-top: 7px;
    display: block;
    float: left;
}

.wsnyc-questionsanswers-question-products{
    text-align:center;

}
.wsnyc-questionsanswers-question-product{
    display:inline-block;
    width:28%;
    text-align:center;
}

.wsnyc-questionsanswers-question-product button.button span {
    background-color: #000 !important;
    height:30px !important;
}

.wsnyc-questionsanswers-question-product button.button span span {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 32px !important;
}

/*featured*/
.wsnyc-questionsanswers-featured-question {
    vertical-align:top;
    display:inline-block;
    width:30%;
    margin-left:10px;
}

.wsnyc-questionsanswers-featured-answer {
    display:inline-block;
    width:56%;
    margin-left:10px;
}

.wsnyc-questionsanswers-featured-answer-letter{
    display:inline-block;
    vertical-align:top;
    width:4%;
    font-family: "Sorts Mill Goudy Regular",serif;
    font-size:4em !important;
    margin-top:20px;
}

.wsnyc-questionsanswers-featured-question-letter{
    display:inline-block;
    vertical-align:top;
    margin-top:20px;
    width:4%;
    font-size:4em !important;
    font-family: "Sorts Mill Goudy Regular",serif;
}

#wsnyc-questionsanswers-featured-prev{
    display:inline-block;
    vertical-align:middle;
}

#wsnyc-questionsanswers-featured-next{
    display:inline-block;
    vertical-align:middle;
}

.wsnyc-questionsanswers-featured{
    width:90% !important;
    display:inline-block !important;
}

#wsnyc-questionsanswers-featured-holder{
    margin-top:10px;
}

.wsnyc-questionsanswers-middle{
    width:100%;
    text-align: center;
}

#wsnyc-questionsanswers-container{
    width:100%;
    margin-left:60px;
}

/*search*/
.search-question:first-child {
    border-top: none;
}
.search-question {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 4px solid #ccc;
    font-size: 16px;
}

.search-answer {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
}

h2.questionsanswers-subheading {
    margin-top: 15px;
}

#questionsanswers-question-ask-form .validation-advice{
    font-size:10px;
    margin-bottom:10px;
}

#ask_name{
    margin-bottom: 0px !important;
}

#ask_email{
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}

#ask_title{
    margin-top: 10px !important;
}


