<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_SeoSubfooter>
            <version>0.3</version>
        </Wsnyc_SeoSubfooter>
    </modules>
    <global>
        <blocks>
            <seosubfooter>
                <class>Wsnyc_SeoSubfooter_Block</class>
            </seosubfooter>
            <wsnyc_questionsanswers>
                <rewrite>
                    <adminhtml_questionsanswerscategory_edit_form>Wsnyc_SeoSubfooter_Block_Adminhtml_QandA_Edit_Form</adminhtml_questionsanswerscategory_edit_form>
                </rewrite>
            </wsnyc_questionsanswers>
        </blocks>
        <helpers>
            <seosubfooter>
                <class>Wsnyc_SeoSubfooter_Helper</class>
            </seosubfooter>
        </helpers>
        <models>
            <seosubfooter>
                <class>Wsnyc_SeoSubfooter_Model</class>
                <resourceModel>seosubfooter_resource</resourceModel>
            </seosubfooter>
            <seosubfooter_resource>
                <class>Wsnyc_SeoSubfooter_Model_Resource</class>
                <entities>
                    <blurb>
                        <table>blurb</table>
                    </blurb>
                </entities>
            </seosubfooter_resource>
        </models>
        <resources>
            <seosubfooter_setup>
                <setup>
                    <module>Wsnyc_SeoSubfooter</module>
                    <class>Wsnyc_SeoSubfooter_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seosubfooter_setup>
            <seosubfooter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seosubfooter_write>
            <seosubfooter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seosubfooter_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <seosubfooter>
                    <file>wsnyc/seosubfooter.xml</file>
                </seosubfooter>
            </updates>
        </layout>
        <events>
            <cms_page_render>
                <observers>
                    <save_current_page>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>saveCurrentPage</method>
                    </save_current_page>
                </observers>
            </cms_page_render>
            <controller_action_predispatch_asklaundress_questions_index>
                <observers>
                    <set_blurb_status>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>setAskPageBlurb</method>
                    </set_blurb_status>
                </observers>
            </controller_action_predispatch_asklaundress_questions_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wsnyc_SeoSubfooter after="Mage_Adminhtml">Wsnyc_SeoSubfooter_Adminhtml</Wsnyc_SeoSubfooter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <seosubfooter>
                    <file>wsnyc/seosubfooter.xml</file>
                </seosubfooter>
            </updates>
        </layout>
        <translate>
            <modules>
                <seosubfooter>
                    <files>
                        <default>Wsnyc_SeoSubfooter.csv</default>
                    </files>
                </seosubfooter>
            </modules>
        </translate>
        <events>
            <adminhtml_cms_page_edit_tab_meta_prepare_form>
                <observers>
                    <add_seosubfooter_enable_field>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>addSeoSubfooterFieldToMetaData</method>
                    </add_seosubfooter_enable_field>
                </observers>
            </adminhtml_cms_page_edit_tab_meta_prepare_form>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <add_seosubfooter_link_field>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>addSeoSubfooterFieldToMainForm</method>
                    </add_seosubfooter_link_field>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <prepare_limit_form_data>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>prepareCmsLimitFieldData</method>
                    </prepare_limit_form_data>
                </observers>
            </cms_page_prepare_save>
            <questionsanswers_category_save_before>
                <observers>
                    <prepare_limit_form_data>
                        <type>singleton</type>
                        <model>seosubfooter/observer</model>
                        <method>prepareAskLimitFieldData</method>
                    </prepare_limit_form_data>
                </observers>
            </questionsanswers_category_save_before>
        </events>
    </adminhtml>
</config>