<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_HotelModal>
            <version>0.2.0</version>
        </Wsnyc_HotelModal>
    </modules>
    <global>
        <blocks>
            <hotelmodal>
                <class>Wsnyc_HotelModal_Block</class>
            </hotelmodal>
        </blocks>
        <helpers>
            <hotelmodal>
                <class>Wsnyc_HotelModal_Helper</class>
            </hotelmodal>
        </helpers>
        <resources>
            <hotelmodal_setup>
                <setup>
                    <module>Wsnyc_HotelModal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hotelmodal_setup>
            <hotelmodal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hotelmodal_write>
            <hotelmodal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hotelmodal_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <hotelmodal>
                    <file>wsnyc/hotelmodal.xml</file>
                </hotelmodal>
            </updates>
        </layout>
    </frontend>
</config> 