.DS_Store
app/etc/local.xml
downloader/*
media/catalog/product/cache/*
media/tmp/*
media/*
sitemap.xml

searchspring/searchspring_default.xml
searchspring/searchspring_howto.xml
searchspring/searchspring_wholesaledefault.xml

.htaccess
var/*

wp/wordpress/wp-content

#IDE
nbproject/
.idea/
