<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_CPT>
			<version>1.0.0.8</version>
		</Fishpig_Wordpress_Addon_CPT>
	</modules>
	<global>
		<blocks>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Block</class>
			</wp_addon_cpt>
		</blocks>
		<helpers>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Helper</class>
			</wp_addon_cpt>
		</helpers>
		<models>
			<wp_addon_cpt>
				<class>Fishpig_Wordpress_Addon_CPT_Model</class>
				<resourceModel>wp_addon_cpt_resource</resourceModel>
			</wp_addon_cpt>
			<wp_addon_cpt_resource>
				<class>Fishpig_Wordpress_Addon_CPT_Model_Resource</class>
				<entities>
					<type><table>wordpress_addon_cpt_type</table></type>
					<type_store><table>wordpress_addon_cpt_type_store</table></type_store>
				</entities>
			</wp_addon_cpt_resource>
		</models>
		<resources>
			<wp_addon_cpt_setup>
				<setup>
					<module>Fishpig_Wordpress_Addon_CPT</module>
				</setup>
			</wp_addon_cpt_setup>
		</resources>
		<events>
			<wordpress_match_routes_after>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>matchRoutesObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_match_routes_after>
			<wordpress_post_collection_load_after>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>addDataToPostCollectionObserver</method>
					</wp_addon_cpt>
				</observers>			
			</wordpress_post_collection_load_after>
			<wordpress_post_load_after>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>addDataToPostObserver</method>
					</wp_addon_cpt>
				</observers>			
			</wordpress_post_load_after>
		</events>
	</global>
	<frontend>

	        <events>
	                <wordpress_post_collection_load_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>postCollectionLoadBeforeObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_post_collection_load_before>
                </events>
		<layout>
			<updates>
				<wp_addon_cpt>
					<file>wordpress/cpt.xml</file>
				</wp_addon_cpt>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
	        <events>
	                <wordpress_post_collection_load_before>
				<observers>
					<wp_addon_cpt>
						<type>singleton</type>
						<class>wp_addon_cpt/observer</class>
						<method>postCollectionAdminLoadBeforeObserver</method>
					</wp_addon_cpt>
				</observers>
			</wordpress_post_collection_load_before>
                </events>
		<layout>
			<updates>
				<wp_addon_cpt>
					<file>wordpress/cpt.xml</file>
				</wp_addon_cpt>
			</updates>
		</layout>
	</adminhtml>
</config>