<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Challenge>
            <version>0.4.5</version>
        </Wsnyc_Challenge>
    </modules>
    <global>
        <helpers>
            <wsnyc_challenge>
                <class>Wsnyc_Challenge_Helper</class>
            </wsnyc_challenge>
        </helpers>
        <models>
            <wsnyc_challenge>
                <class>Wsnyc_Challenge_Model</class>
            </wsnyc_challenge>
        </models>
        <resources>
            <wsnyc_challenge_setup>
                <setup>
                    <module>Wsnyc_Challenge</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </wsnyc_challenge_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <wsnyc_challenge>
                <use>standard</use>
                <args>
                    <module>Wsnyc_Challenge</module>
                    <frontName>challenge</frontName>
                </args>
            </wsnyc_challenge>
        </routers>
        <layout>
            <updates>
                <wsnyc_challenge>
                    <file>wsnyc/challenge.xml</file>
                </wsnyc_challenge>
            </updates>
        </layout>
        <events>
            <submit_sample_request>
                <observers>
                    <subscribe_customer_to_newsletter>
                        <type>singleton</type>
                        <class>newslettermodal/observer</class>
                        <method>sentSubscription</method>
                    </subscribe_customer_to_newsletter>
                </observers>
            </submit_sample_request>
        </events>
    </frontend>
    <default>
        <design>
            <head>
                <challenge_notice><![CDATA[Take the 30-Day Clean Home Challenge and Save 20% Off Your Next Purchase with Code 30DayClean]]></challenge_notice>
                <switchtime>1434038400</switchtime>
            </head>
        </design>
    </default>
    <crontab>
        <jobs>
            <challenge_end_switch>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>wsnyc_challenge/observer::switchChallengePages</model>
                </run>
            </challenge_end_switch>
        </jobs>
    </crontab>
</config>