<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Challenge>
            <version>0.3.0</version>
        </Wsnyc_Challenge>
    </modules>
    <global>
        <resources>
            <wsnyc_challenge_setup>
                <setup>
                    <module>Wsnyc_Challenge</module>
                </setup>
            </wsnyc_challenge_setup>
        </resources>
    </global>
</config>