<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Challenge>
            <version>0.3.1</version>
        </Wsnyc_Challenge>
    </modules>
    <global>
        <helpers>
            <wsnyc_challenge>
                <class>Wsnyc_Challenge_Helper</class>
            </wsnyc_challenge>
        </helpers>
        <resources>
            <wsnyc_challenge_setup>
                <setup>
                    <module>Wsnyc_Challenge</module>
                </setup>
            </wsnyc_challenge_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <wsnyc_challenge>
                <use>standard</use>
                <args>
                    <module>Wsnyc_Challenge</module>
                    <frontName>challenge</frontName>
                </args>
            </wsnyc_challenge>
        </routers>
        <events>
            <submit_sample_request>
                <observers>
                    <subscribe_customer_to_newsletter>
                        <type>singleton</type>
                        <class>newslettermodal/observer</class>
                        <method>sentSubscription</method>
                    </subscribe_customer_to_newsletter>
                </observers>
            </submit_sample_request>
        </events>
    </frontend>
</config>