<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_MultiGiftBoxed>
            <version>0.1.0</version>
        </Wsnyc_MultiGiftBoxed>
    </modules>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <wsnyc_multigiftboxed_observer>
                        <type>singleton</type>
                        <class>multigiftboxed/observer</class>
                        <method>saveGiftBoxedInfo</method>
                    </wsnyc_multigiftboxed_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <global>
        <models>
            <multigiftboxed>
                <class>Wsnyc_MultiGiftBoxed_Model</class>
            </multigiftboxed>
        </models>
        <resources>
            <multigiftboxed_setup>
                <setup>
                    <module>Wsnyc_MultiGiftBoxed</module>
                    <class>Wsnyc_MultiGiftBoxed_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </multigiftboxed_setup>
        </resources>
    </global>
    <stores>
        <admin>
            <design>
                <theme>
                    <template>wsnyc</template>
                </theme>
            </design>
        </admin>
    </stores>
</config>
