<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_TierDiscount>
            <version>0.1.0</version>
        </Wsnyc_TierDiscount>
    </modules>
    <global>
        <blocks>
            <tier_discount>
                <class>Wsnyc_TierDiscount_Block</class>
            </tier_discount>
        </blocks>
        <models>
            <tier_discount>
                <class>Wsnyc_TierDiscount_Model</class>
            </tier_discount>
        </models>
        <helpers>
            <tier_discount>
                <class>Wsnyc_TierDiscount_Helper</class>
            </tier_discount>
        </helpers>
        <resources>
            <tier_discount_setup>
                <setup>
                    <module>Wsnyc_TierDiscount</module>                    
                </setup>
            </tier_discount_setup>
        </resources>
        <events>
            <salesrule_validator_process>
                <observers>
                    <validate_tier_discount_rule>
                        <type>singleton</type>
                        <class>tier_discount/validator</class>
                        <method>validateRule</method>
                    </validate_tier_discount_rule>
                </observers>
            </salesrule_validator_process>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <add_simple_action_option>
                        <type>singleton</type>
                        <class>tier_discount/observer</class>
                        <method>addTierActionOption</method>
                    </add_simple_action_option>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <prepare_tier_fields>
                        <type>singleton</type>
                        <class>tier_discount/observer</class>
                        <method>prepareTierFields</method>
                    </prepare_tier_fields>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
        </events>
    </adminhtml>
</config>