<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_CategoryDescriptions>
            <version>0.1</version>
        </Wsnyc_CategoryDescriptions>
    </modules>
    <global>
        <blocks>
            <wsnyc_categorydescriptions>
                <class>Wsnyc_CategoryDescriptions_Block</class>
            </wsnyc_categorydescriptions>
        </blocks>
        <helpers>
            <wsnyc_categorydescriptions>
                <class>Wsnyc_CategoryDescriptions_Helper</class>
            </wsnyc_categorydescriptions>
        </helpers>
        <models>
            <wsnyc_categorydescriptions>
                <class>Wsnyc_CategoryDescriptions_Model</class>
                <resourceModel>wsnyc_categorydescriptions_resource</resourceModel>
            </wsnyc_categorydescriptions>
            <wsnyc_categorydescriptions_resource>
                <class>Wsnyc_CategoryDescriptions_Model_Resource</class>
                <entities>
                    <rule>
                        <table>wsnyc_categorydescriptions_rule</table>
                    </rule>
                    <store>
                        <table>wsnyc_categorydescriptions_rule_store</table>
                    </store>
                </entities>
            </wsnyc_categorydescriptions_resource>
        </models>
        <resources>
            <wsnyc_categorydescriptions_setup>
                <setup>
                    <module>Wsnyc_CategoryDescriptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wsnyc_categorydescriptions_setup>
            <wsnyc_categorydescriptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wsnyc_categorydescriptions_write>
            <wsnyc_categorydescriptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wsnyc_categorydescriptions_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wsnyc_CategoryDescriptions after="Mage_Adminhtml">Wsnyc_CategoryDescriptions_Adminhtml</Wsnyc_CategoryDescriptions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsnyc_categorydescriptions module="wsnyc_categorydescriptions">
                    <file>wsnyc/categorydescriptions.xml</file>
                </wsnyc_categorydescriptions>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <set_category_description>
                        <type>singleton</type>
                        <class>wsnyc_categorydescriptions/observer</class>
                        <method>setCategoryDescription</method>
                    </set_category_description>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
        </events>
    </frontend>
</config>