<?xml version="1.0"?>
<config>
    <sections>
        <promotionalgift>
            <groups>
                <general>
                    <fields>
                        <vendor translate="label">
                            <label>Promotional Gift Available for Vendors</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>promotionalgift_ext/source_config_vendors</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment>If there are no items from this vendors in cart Promotional Gift will not be available</comment>
                        </vendor>
                        <allow_virtual translate="label">
                            <label>Promotional Gift for Virtual Quote</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>120</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                            <comment></comment>
                        </allow_virtual>
                    </fields>
                </general>                
            </groups>
        </promotionalgift>
    </sections>
</config>