<?xml version="1.0"?>
<config>
    <sections>
        <promotionalgift>
            <groups>
                <general>
                    <fields>
                        <vendor translate="label">
                            <label>Default Vendor</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>promotionalgift_ext/source_config_vendors</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </vendor>
                    </fields>
                </general>                
            </groups>
        </promotionalgift>
    </sections>
</config>