<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_CouponParam>
            <version>1.0.0</version>
        </Wsnyc_CouponParam>
    </modules>
    <global>
        <models>
            <wsnyc_couponparam>
                <class>Wsnyc_CouponParam_Model</class>
            </wsnyc_couponparam>
        </models>
        <helpers>
            <wsnyc_couponparam>
                <class>Wsnyc_CouponParam_Helper</class>
            </wsnyc_couponparam>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <check_coupon_code>
                        <type>singleton</type>
                        <model>wsnyc_couponparam/observer</model>
                        <method>checkCouponParam</method>
                    </check_coupon_code>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <default>
        <couponparam>
            <general>
                <active>1</active>
                <param_name>coupon</param_name>
            </general>
        </couponparam>
    </default>
</config>