<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_BillToAccountNumber>
            <version>0.1.0</version>
        </Wsnyc_BillToAccountNumber>
    </modules>
    <global>
        <helpers>
            <billtoaccountnumber>
                <class>Wsnyc_BillToAccountNumber_Helper</class>
            </billtoaccountnumber>
        </helpers>
        <models>
            <billtoaccountnumber>
                <class>Wsnyc_BillToAccountNumber_Model</class>
                <resourceModel>billtoaccountnumber_mysql4</resourceModel>
            </billtoaccountnumber>
        </models>
        <resources>
            <billtoaccountnumber_setup>
                <setup>
                    <module>Wsnyc_BillToAccountNumber</module>
                </setup>
            </billtoaccountnumber_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>                           
                <third_party_shipping_account><to_order>*</to_order></third_party_shipping_account>
            </sales_convert_quote>
            <sales_convert_order>                                              
                <third_party_shipping_account><to_quote>*</to_quote></third_party_shipping_account>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <billtoaccountnumber>
                <use>standard</use>
                <args>
                    <module>Wsnyc_BillToAccountNumber</module>
                    <frontName>billtoaccountnumber</frontName>
                </args>
            </billtoaccountnumber>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <billtoaccountnumber>
                        <type>singleton</type>
                        <class>billtoaccountnumber/observer</class>
                        <method>setThirdPartyShippingNumber</method>
                    </billtoaccountnumber>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>
        </events>
    </adminhtml>
    <default>
        <carriers>
            <billtoaccountnumber>
                <active>0</active>
                <model>billtoaccountnumber/carrier_billtoaccountnumber</model>
                <name>Bill to Account Number</name>
                <title>Bill to Account Number</title>
                <description>Bill to 3rd Party Account Number</description>
                <sort_order>0</sort_order>
            </billtoaccountnumber>
        </carriers>
    </default>
</config> 