<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_CacheFixes>
            <version>0.1.0</version>
        </Wsnyc_CacheFixes>
    </modules>
    <global>
        <models>
            <wsnyc_cachefixes>
                <class>Wsnyc_CacheFixes_Model</class>
                <resourceModel>wsnyc_cachefixes_resource</resourceModel>
            </wsnyc_cachefixes>
            <wsnyc_cachefixes_resource>
                <class>Wsnyc_CacheFixes_Model_Resource</class>
            </wsnyc_cachefixes_resource>
        </models>
        <blocks>
            <wsnyc_cachefixes>
                <class>Wsnyc_CacheFixes_Block</class>
            </wsnyc_cachefixes>
            <page>
                <rewrite>
                    <html_footer>Wsnyc_CacheFixes_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <wsnyc_cachefixes>
                <class>Wsnyc_CacheFixes_Helper</class>
            </wsnyc_cachefixes>
        </helpers>
        <resources>
            <wsnyc_cachefixes_setup>
                <setup>
                    <module>Wsnyc_CacheFixes</module>
                </setup>
            </wsnyc_cachefixes_setup>
        </resources>
    </global>
</config>