<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Groundonly>
            <version>0.1.1</version>
        </Wsnyc_Groundonly>
    </modules>
    <global>
        <models>
            <groundonly>
                <class>Wsnyc_Groundonly_Model</class>
            </groundonly>
            <sales>
                <rewrite>
                    <quote_address>Wsnyc_Groundonly_Model_Rewrite_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <groundonly_setup>
                <setup>
                    <module>Wsnyc_Groundonly</module>
                    <class>Wsnyc_Groundonly_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </groundonly_setup>
        </resources>
        <wsnyc_groundonly>
            <allowed_shipping_methods>
                <code1>freeshipping_freeshipping</code1>
                <code2>fedex_GROUND_HOME_DELIVERY</code2>
            </allowed_shipping_methods>
        </wsnyc_groundonly>
    </global>
</config>