<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Groundonly>
            <version>0.1.1</version>
        </Wsnyc_Groundonly>
    </modules>
    <global>
        <models>
            <groundonly>
                <class>Wsnyc_Groundonly_Model</class>
            </groundonly>
        </models>
        <resources>
            <groundonly_setup>
                <setup>
                    <module>Wsnyc_Groundonly</module>
                    <class>Wsnyc_Groundonly_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </groundonly_setup>
        </resources>
        <events>
            <udropship_process_vendor_carrier_single_rate_result>
                <observers>
                    <ground_udropship_process_vendor_carrier_single_rate_result>
                        <type>singleton</type>
                        <class>Wsnyc_Groundonly_Model_Observer</class>
                        <method>updateShippingMethods</method>
                    </ground_udropship_process_vendor_carrier_single_rate_result>
                </observers>
            </udropship_process_vendor_carrier_single_rate_result>
        </events>
        <wsnyc_groundonly>
            <allowed_shipping_methods>
                <code1>freeshipping_freeshipping</code1>
                <code2>fedex_GROUND_HOME_DELIVERY</code2>
                <code3>wsnyc_oversizeshipping_wsnyc_oversizeshipping</code3>
            </allowed_shipping_methods>
        </wsnyc_groundonly>
    </global>
</config>