<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Groundonly>
            <version>0.1.1</version>
        </Wsnyc_Groundonly>
    </modules>
    <global>
        <models>
            <wsnyc_groundonly_setup>
                <class>Wsnyc_Oversizeshipping_Model</class>
            </wsnyc_groundonly_setup>
        </models>
        <resources>
            <groundonly_setup>
                <setup>
                    <module>Wsnyc_Groundonly</module>
                    <class>Wsnyc_Groundonly_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </groundonly_setup>
        </resources>
        <events>
            <sales_quote_address_collect_totals_after>
                <observers>
                    <recollect_shipping_method_for_ground_only_products>
                        <type>singleton</type>
                        <class>Wsnyc_Groundonly_Model_Observer</class>
                        <method>recollectShippingMethods</method>
                    </recollect_shipping_method_for_ground_only_products>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>
        <wsnyc_groundonly>
            <allowed_shipping_methods>
                <code1>freeshipping_freeshipping</code1>
                <code2>fedex_GROUND_HOME_DELIVERY</code2>
            </allowed_shipping_methods>
        </wsnyc_groundonly>
    </global>
</config>