.blurb {
    margin: 40px 0px 10px 0px;
}

.seo-links {
    overflow: hidden;
    -webkit-column-count: 3;
    -webkit-column-gap: 35px;
    -moz-column-count: 3;
    -moz-column-gap: 35px;
    column-count: 3;
    column-gap: 35px;
}
.seo-links li {
    margin: 10px 0px;
}
.seo-links li:first-child {
    margin-top: 0px;
}
.seosubfooter-page .page-title {
    display: none;
}
.seosubfooter-page .col-main .std {
    margin: 30px auto;
    width: 70%;
}