<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_LeavingPage>
            <version>0.4.5</version>
        </Wsnyc_LeavingPage>
    </modules>
    <global>
        <blocks>
            <leavingpage>
                <class>Wsnyc_LeavingPage_Block</class>
            </leavingpage>
        </blocks>
        <helpers>
            <leavingpage>
                <class>Wsnyc_LeavingPage_Helper</class>
            </leavingpage>
        </helpers>
        <models>
            <leavingpage>
                <class>Wsnyc_LeavingPage_Model</class>
            </leavingpage>
        </models>
        <resources>
            <leavingpage_setup>
                <setup>
                    <module>Wsnyc_LeavingPage</module>
                </setup>
            </leavingpage_setup>
        </resources>
        <events>
            <controller_action_predispatch_adminhtml_promo_quote_delete>
                <observers>
                    <wsnyc_leavingpage>
                        <type>singleton</type>
                        <class>leavingpage/observer</class>
                        <method>preventDelete</method>
                    </wsnyc_leavingpage>
                </observers>
            </controller_action_predispatch_adminhtml_promo_quote_delete>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <leavingpage>
                    <file>wsnyc/leavingpage.xml</file>
                </leavingpage>
            </updates>
        </layout>
    </frontend>
    <default>
        <promo>
            <leavingpage>
                <allowed_pages>checkout-cart,catalog-category,catalog-product,asklaundress-index</allowed_pages>
            </leavingpage>
        </promo>
    </default>
    <crontab>
        <jobs>
            <clear_old_coupons>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>leavingpage/observer::clearCouponCodes</model></run>
            </clear_old_coupons>
        </jobs>
    </crontab>
</config> 