<?xml version="1.0"?>
<config>
  <sections>
    <catalog>
      <groups>
        <review>
          <fields>
            <receive_email translate="label" module="review">
              <label><![CDATA[Receive Email Alert When New Review Is Left]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>100</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </receive_email>
            <admin_email translate="label">
              <label><![CDATA[Send Admin Notice To]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_identity</source_model>
              <sort_order>150</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends><receive_email>1</receive_email></depends>
            </admin_email>
            <template_pending translate="label">
              <label><![CDATA[Pending Review Email Template]]></label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_email_template</source_model>
              <sort_order>200</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <depends><receive_email>1</receive_email></depends>
            </template_pending>
          </fields>
        </review>
      </groups>
    </catalog>
  </sections>
</config>