<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_OrdersReport>
            <version>0.1.0</version>
        </Wsnyc_OrdersReport>
    </modules>
    <global>
        <models>
            <wsnyc_ordersreport>
                <class>Wsnyc_OrdersReport_Model</class>
                <resourceModel>wsnyc_ordersreport_resource</resourceModel>
            </wsnyc_ordersreport>
            <wsnyc_ordersreport_resource>
                <class>Wsnyc_OrdersReport_Model_Resource</class>
            </wsnyc_ordersreport_resource>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>Wsnyc_OrdersReport_Model_Resource_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <blocks>
            <wsnyc_ordersreport>
                <class>Wsnyc_OrdersReport_Block</class>
            </wsnyc_ordersreport>
        </blocks>
        <helpers>
            <wsnyc_ordersreport>
                <class>Wsnyc_OrdersReport_Helper</class>
            </wsnyc_ordersreport>
        </helpers>
        <resources>
            <wsnyc_ordersreport_setup>
                <setup>
                    <module>Wsnyc_OrdersReport</module>
                </setup>
            </wsnyc_ordersreport_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wsnyc_ordersreport>
                    <file>wsnyc_ordersreport.xml</file>
                </wsnyc_ordersreport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wsnyc_ordersreport after="Mage_Adminhtml">Wsnyc_OrdersReport_Adminhtml</wsnyc_ordersreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>