<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Homepagebanner>
            <version>0.0.3</version>
        </Wsnyc_Homepagebanner>
    </modules>
    <global>
        <models>
            <wsnyc_homepagebanner>
                <class>Wsnyc_Homepagebanner_Model</class>
                <resourceModel>wsnyc_homepagebanner_mysql4</resourceModel>
            </wsnyc_homepagebanner>
            <wsnyc_homepagebanner_mysql4>
                <class>Wsnyc_Homepagebanner_Model_Mysql4</class>
                <entities>
                    <banner><table>wsnyc_homepagebanner</table></banner>
                </entities>
            </wsnyc_homepagebanner_mysql4>
        </models>
        <resources>
            <wsnyc_homepagebanner_setup>
                <setup>
                    <module>Wsnyc_Homepagebanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wsnyc_homepagebanner_setup>
            <wsnyc_homepagebanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wsnyc_homepagebanner_read>
            <wsnyc_homepagebanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wsnyc_homepagebanner_write>
        </resources>
        <helpers>
            <wsnyc_homepagebanner>
                <class>Wsnyc_Homepagebanner_Helper</class>
            </wsnyc_homepagebanner>
        </helpers>
        <blocks>
            <wsnyc_homepagebanner>
                <class>Wsnyc_Homepagebanner_Block</class>
            </wsnyc_homepagebanner>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <wsnyc_homepagebanner>
                    <file>wsnyc/homepagebanner.xml</file>
                </wsnyc_homepagebanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<homepagebanner after="Mage_Adminhtml">Wsnyc_Homepagebanner_Adminhtml</homepagebanner>&lt;!&ndash; this must be unique node &ndash;&gt;-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
            <wsnyc_homepagebanner>
                <use>admin</use>
                <args>
                    <module>Wsnyc_Homepagebanner</module>
                    <frontName>homepagebanneradmin</frontName>
                </args>
            </wsnyc_homepagebanner>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wsnyc_homepagebanner>
                    <file>wsnyc/homepagebanner.xml</file>
                </wsnyc_homepagebanner>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <wsnyc_homepagebanner>
            <general>
                <navigation>false</navigation><!--Show next and prev buttons-->
                <slideSpeed>300</slideSpeed>
                <paginationSpeed>400</paginationSpeed>
                <autoPlay>5000</autoPlay>
                <singleItem>true</singleItem>
                <explanation>Please remember that all time values are in milliseconds. (1s = 1000ms)</explanation>
            </general>
        </wsnyc_homepagebanner>
    </default>
</config>