<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_PromoModals>
            <version>1.0.1</version>
        </Wsnyc_PromoModals>
    </modules>
    <global>
        <blocks>
            <promomodals>
                <class>Wsnyc_PromoModals_Block</class>
            </promomodals>
        </blocks>
        <helpers>
            <promomodals>
                <class>Wsnyc_PromoModals_Helper</class>
            </promomodals>
        </helpers>
        <models>
            <promomodals>
                <class>Wsnyc_PromoModals_Model</class>
                <resourceModel>promomodals_resource</resourceModel>
            </promomodals>            
            <promomodals_resource>
                <class>Wsnyc_PromoModals_Model_Resource</class>
                <entities>
                    <modal>
                        <table>wsnyc_promomodal</table>
                    </modal>
                </entities>
            </promomodals_resource>
        </models>
        <resources>
            <promomodals_setup>
                <setup>
                    <module>Wsnyc_PromoModals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promomodals_setup>
            <promomodals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promomodals_write>
            <promomodals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promomodals_read>
        </resources>
        <events>
            <salesrule_rule_save_after>
                <observers>
                    <save_rule_modal_data>
                        <type>singleton</type>
                        <class>promomodals/observer</class>
                        <method>saveModalData</method>
                    </save_rule_modal_data>    
                </observers>                
            </salesrule_rule_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <promomodals>
                    <file>wsnyc/promomodals.xml</file>
                </promomodals>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <promomodals>
                    <file>wsnyc/promomodals.xml</file>
                </promomodals>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <wsnyc_promotions>
            <promotions>
                <freeshipping_may_2014_enabled>1</freeshipping_may_2014_enabled>
                <photocontest_june_2014_enabled>1</photocontest_june_2014_enabled>
                <freeshipping_over_100_enabled>0</freeshipping_over_100_enabled>
                <freeshipping_over_50_enabled>0</freeshipping_over_50_enabled>
                <lindsey14_enabled>0</lindsey14_enabled>
                <woolinitiative_enabled>0</woolinitiative_enabled>
                <novembergift_enabled>0</novembergift_enabled>
                <blackfriday_enabled>0</blackfriday_enabled>
            </promotions>
        </wsnyc_promotions>
    </default>
</config> 