<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_PromoModals>
            <version>0.3.0</version>
        </Wsnyc_PromoModals>
    </modules>
    <global>
        <blocks>
            <promomodals>
                <class>Wsnyc_PromoModals_Block</class>
            </promomodals>
        </blocks>
        <helpers>
            <promomodals>
                <class>Wsnyc_PromoModals_Helper</class>
            </promomodals>
        </helpers>
        <resources>
            <promomodals_setup>
                <setup>
                    <module>Wsnyc_PromoModals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promomodals_setup>
            <promomodals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promomodals_write>
            <promomodals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promomodals_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <promomodals>
                    <file>wsnyc/promomodals.xml</file>
                </promomodals>
            </updates>
        </layout>
    </frontend>
    <default>
        <wsnyc_promotions>
            <promotions>
                <freeshipping_may_2014_enabled>1</freeshipping_may_2014_enabled>
                <photocontest_june_2014_enabled>1</photocontest_june_2014_enabled>
            </promotions>
        </wsnyc_promotions>
    </default>
</config> 