<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Shippingnote>
            <version>0.1.1</version>
        </Wsnyc_Shippingnote>
    </modules>
    <global>
        <models>
            <wsnyc_shippingnote_setup>
                <class>Wsnyc_Shippingnote_Model</class>
            </wsnyc_shippingnote_setup>
        </models>
        <resources>
            <wsnyc_shippingnote_setup>
                <setup>
                    <module>Wsnyc_Shippingnote</module>
                    <class>Wsnyc_Shippingnote_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </wsnyc_shippingnote_setup>
        </resources>
        <wsnyc_shippingnote>
            <basic_notes>
                <enabled>true</enabled>
                <notes>
                    <note1>
                        <noteText><![CDATA[Orders including All-Purpose Bleach Alternative must ship Ground.]]></noteText>
                        <skus><![CDATA[H-01,WHDUO,SBI-01,BH-01,DUOH01-4,DUOH01-2]]></skus>
                    </note1>
                    <note2>
                        <noteText><![CDATA[Ships directly from the factory with UPS Ground Service.]]></noteText>
                        <skus><![CDATA[A-051,A-052,A-053,A-057,A-056]]></skus>
                    </note2>
                    <note3>
                        <noteText><![CDATA[Complementary return shipping for Washing Service Items.]]></noteText>
                        <skus><![CDATA[WS-Bag,WS-Bathrobe,WS-Blanket,WS-BlanketQueen,WS-Blouse,WS-Bra,WS-Curtain/Drapes,WS-Dress,WS-Dress Shirt,WS-Duvet Covers,WS-Gloves,WS-Handkerchief,WS-Hats,WS-Hosiery,WS-Jacket,WS-Jeans,WS-Napkins,WS-Nightgown,WS-Pajamas,WS-Pants,WS-Pillow,WS-Pillow Case,WS-Pillow Sham,WS-Placemat,WS-Scarf,WS-Sheet,WS-Shorts,WS-Skirt,WS-Slip,WS-Socks,WS-Sweater,WS-Swimwear,WS-Table cloth,WS-Uggs,WS-Underwear,WS-Wedding Gown,WS-Blanketqueen,WS-Comforter,WS-CurtainDrapes,WS-DressShirt,WS-DuvetCovers,WS-Pillowcase,WS-PillowSham,ws-shirts,WS-Tablecloth]]></skus>
                    </note3>
                    <note4>
                        <noteText><![CDATA[This item is handmade, please allow up to 6-8 weeks to ship.]]></noteText>
                        <skus><![CDATA[A-010,A-011,A-012,A-013,A-014,A-016,A-019,A-043,DuoHamper,StorageCombo]]></skus>
                    </note4>
                </notes>
            </basic_notes>
        </wsnyc_shippingnote>
    </global>
</config>