<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_CheckoutCustomization>
            <version>0.1.0</version>
        </Wsnyc_CheckoutCustomization>
    </modules>
    <global>
        <models>
            <wsnyc_checkoutcustomization>
                <class>Wsnyc_CheckoutCustomization_Model</class>
                <resourceModel>wsnyc_checkoutcustomization_resource</resourceModel>
            </wsnyc_checkoutcustomization>
            <wsnyc_checkoutcustomization_resource>
                <class>Wsnyc_CheckoutCustomization_Model_Resource</class>
            </wsnyc_checkoutcustomization_resource>
        </models>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <othershippingmenthod_comment_get>
                        <type>singleton</type>
                        <class>wsnyc_checkoutcustomization/observer</class>
                        <method>saveGiFtWrapInfo</method>
                    </othershippingmenthod_comment_get>
                    <laundress_comment_and_signature>
                        <type>singleton</type>
                        <class>wsnyc_checkoutcustomization/observer</class>
                        <method>saveCommentAndSignature</method>
                    </laundress_comment_and_signature>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_type_onepage_save_order>
                <observers>
                    <othershippingmenthod_comment_save>
                        <type>singleton</type>
                        <class>wsnyc_checkoutcustomization/observer</class>
                        <method>addGiftWrapInfoToOrder</method>
                    </othershippingmenthod_comment_save>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <blocks>
            <wsnyc_checkoutcustomization>
                <class>Wsnyc_CheckoutCustomization_Block</class>
            </wsnyc_checkoutcustomization>
        </blocks>
        <helpers>
            <wsnyc_checkoutcustomization>
                <class>Wsnyc_CheckoutCustomization_Helper</class>
            </wsnyc_checkoutcustomization>
        </helpers>
        <resources>
            <wsnyc_checkoutcustomization_setup>
                <setup>
                    <module>Wsnyc_CheckoutCustomization</module>
                </setup>
            </wsnyc_checkoutcustomization_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <giftwrap>
                        <class>wsnyc_checkoutcustomization/total_giftwrap</class>
                        <before>grand_total</before>
                    </giftwrap>
                </totals>
            </quote>
        </sales>
    </global>
    <default>
        <sales>
            <totals_sort>
                <giftwrap>1150</giftwrap>
            </totals_sort>
        </sales>
    </default>
</config>