<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Capacity>
            <version>0.1</version>
        </Wsnyc_Capacity>
    </modules>
    <global>
        <helpers>
            <capacity>
                <class>Wsnyc_Capacity_Helper</class>
            </capacity>
        </helpers>        
        <models>
            <capacity>
                <class>Wsnyc_Capacity_Model</class>
            </capacity>
        </models>
        <events>
            <sales_order_shipment>
                <observers>
                    <send_shipment_to_capacity>
                        <type>singleton</type>
                        <class>capacity/observer</class>
                        <method>processShipment</method>
                    </send_shipment_to_capacity>
                </observers>
            </sales_order_shipment>
        </events>
    </global>
    <default>
        <shipping>
            <capacity>
                <server>???.???.???.???</server>
            </capacity>
        </shipping>
    </default>
</config>