<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Capacity>
            <version>0.2</version>
        </Wsnyc_Capacity>
    </modules>
    <global>
        <helpers>
            <capacity>
                <class>Wsnyc_Capacity_Helper</class>
            </capacity>
        </helpers>        
        <models>
            <capacity>
                <class>Wsnyc_Capacity_Model</class>
            </capacity>
        </models>
        <resources>
            <capacity_setup>
                <setup>
                    <module>Wsnyc_Capacity</module>
                     <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </capacity_setup>
            <capacity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </capacity_write>
            <capacity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </capacity_read>
        </resources>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <send_shipment_to_capacity>
                        <type>singleton</type>
                        <class>capacity/observer</class>
                        <method>processShipment</method>
                    </send_shipment_to_capacity>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <crontab>
        <!--<jobs>-->
            <!--<shipment_test>-->
                <!--<schedule><cron_expr>0 1 * * *</cron_expr></schedule>-->
                <!--<run><model>capacity/observer::processShipment</model></run>-->
            <!--</shipment_test>-->
        <!--</jobs>-->
    </crontab>
    <default>
        <shipping>
            <capacity>
                <server>ftp.capacityllc.com</server>
            </capacity>
        </shipping>
    </default>
</config>