<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Oversizeshipping>
            <version>0.1.1</version>
        </Wsnyc_Oversizeshipping>
    </modules>
    <global>
        <models>
            <wsnyc_oversizeshipping_setup>
                <class>Wsnyc_Oversizeshipping_Model</class>
            </wsnyc_oversizeshipping_setup>
        </models>
        <resources>
            <oversizeshipping_setup>
                <setup>
                    <module>Wsnyc_Oversizeshipping</module>
                    <class>Wsnyc_Oversizeshipping_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </oversizeshipping_setup>
        </resources>
        <events>
            <sales_quote_address_collect_totals_after>
                <observers>
                    <append_price_to_shipping_for_oversized_items>
                        <type>singleton</type>
                        <class>Wsnyc_Oversizeshipping_Model_Observer</class>
                        <method>appendPriceToShipping</method>
                    </append_price_to_shipping_for_oversized_items>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>
    </global>
</config>