<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_CouponcodeMaxdiscount>
            <version>0.1.0</version>
        </Wsnyc_CouponcodeMaxdiscount>
    </modules>
    <frontend>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <couponcodemaxdiscount_observer>
                        <type>singleton</type>
                        <class>couponcodemaxdiscount/observer</class>
                        <method>checkoutCartCouponPost</method>
                    </couponcodemaxdiscount_observer>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </frontend>
    <global>
        <models>
            <couponcodemaxdiscount>
                <class>Wsnyc_CouponcodeMaxdiscount_Model</class>
            </couponcodemaxdiscount>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_actions>Wsnyc_CouponcodeMaxdiscount_Block_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <couponcodemaxdiscount_setup>
                <setup>
                    <module>Wsnyc_CouponcodeMaxdiscount</module>
                    <class>Wsnyc_CouponcodeMaxdiscount_Model_Mysql4_Setup</class>
                </setup>
            </couponcodemaxdiscount_setup>
        </resources>
    </global>
</config>