<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_Redirects>
            <version>0.1.0</version>
        </Wsnyc_Redirects>
    </modules>
    <global>
        <helpers>
            <redirects>
                <class>Wsnyc_Redirects_Helper</class>
            </redirects>
        </helpers>
        <models>
            <redirects>
                <class>Wsnyc_Redirects_Model</class>
            </redirects>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <wsnyc_redirects_redirecttoniceurl>
                        <class>redirects/observer</class>
                        <method>redirectToNiceUrl</method>
                    </wsnyc_redirects_redirecttoniceurl>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <cms_page_save_after>
                <observers>
                    <wsnyc_redirects_addcmsredirect>
                        <class>redirects/observer</class>
                        <method>addCmsRedirect</method>
                    </wsnyc_redirects_addcmsredirect>
                </observers>
            </cms_page_save_after>
<!--            <questionsanswers_category_save_before>
                <observers>
                    <wsnyc_redirects_addcategoryredirect>
                        <class>redirects/observer</class>
                        <method>addCategoryRedirect</method>
                    </wsnyc_redirects_addcategoryredirect>
                </observers>
            </questionsanswers_category_save_before>-->
        </events>
    </adminhtml>
</config> 