<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Wsnyc_ProductGrid>
            <version>0.0.1</version>
        </Wsnyc_ProductGrid>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Wsnyc_ProductGrid_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>