<?xml version="1.0"?>
<config>
    <modules>
        <EmJaInteractive_SmartPost>
            <version>0.1.0</version>
        </EmJaInteractive_SmartPost>
    </modules>
    <frontend>
        <routers>
            <smartpost>
                <use>standard</use>
                <args>
                    <module>EmJaInteractive_SmartPost</module>
                    <frontName>smartpost</frontName>
                </args>
            </smartpost>
        </routers>
        <layout>
            <updates>
                <smartpost>
                    <file>smartpost.xml</file>
                </smartpost>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <smartpost>
                <use>admin</use>
                <args>
                    <module>EmJaInteractive_SmartPost</module>
                    <frontName>smartpost</frontName>
                </args>
            </smartpost>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <EmJaInteractive_SmartPost>
                            <title>SmartPost Module</title>
                            <sort_order>10</sort_order>
                        </EmJaInteractive_SmartPost>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <smartpost>
                    <file>smartpost.xml</file>
                </smartpost>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <smartpost>
                <class>EmJaInteractive_SmartPost_Model</class>
                <resourceModel>smartpost_mysql4</resourceModel>
            </smartpost>
            <smartpost_mysql4>
                <class>EmJaInteractive_SmartPost_Model_Mysql4</class>
                <entities>
                    <smartpost>
                        <table>smartpost</table>
                    </smartpost>
                </entities>
            </smartpost_mysql4>
        </models>
        <blocks>
            <smartpost>
                <class>EmJaInteractive_SmartPost_Block</class>
            </smartpost>
        </blocks>
        <helpers>
            <smartpost>
                <class>EmJaInteractive_SmartPost_Helper</class>
            </smartpost>
        </helpers>        
    </global>
    <default>
        <carriers>
            <smartpost>
                <active>1</active>
                <model>smartpost/carrier_smart</model>
                <name>SmartPost</name>
                <title>Smart Post</title>
                <description>Smart Post</description>
                <sort_order>0</sort_order>
            </smartpost>
        </carriers>
    </default>
</config>