<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_DropshipSplitFix>
            <version>0.1.0</version>
        </Wsnyc_DropshipSplitFix>
    </modules>
    <global>
        <helpers>
            <dropshipsplitfix>
                <class>Wsnyc_DropshipSplitFix_Helper</class>
            </dropshipsplitfix>
            <udsplit>
                <rewrite>
                    <data>Wsnyc_DropshipSplitFix_Helper_Data</data>
                </rewrite>
            </udsplit>
        </helpers>
    </global>
</config> 