<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_MultipleWebsites>
            <version>0.17.0</version>
        </Wsnyc_MultipleWebsites>
    </modules>
    <global>
        <blocks>
            <multiplewebsites>
                <class>Wsnyc_MultipleWebsites_Block</class>
            </multiplewebsites>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Wsnyc_MultipleWebsites_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                    <customer_grid>Wsnyc_MultipleWebsites_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <multiplewebsites>
                <class>Wsnyc_MultipleWebsites_Helper</class>
            </multiplewebsites>
        </helpers>
        <models>
            <multiplewebsites>
                <class>Wsnyc_MultipleWebsites_Model</class>
            </multiplewebsites>
        </models>
        <resources>
            <multiplewebsites_setup>
                <setup>
                    <module>Wsnyc_MultipleWebsites</module>
                </setup>
            </multiplewebsites_setup>
        </resources>
        <events>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <pricemultiplier>
                        <class>multiplewebsites/observer</class>
                        <method>applyCustomerGroupPriceMultiplier</method>
                    </pricemultiplier>
                </observers>
            </sales_quote_address_collect_totals_before>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <checkwholesitelogin>
                        <type>singleton</type>
                        <class>multiplewebsites/observer</class>
                        <method>processWholesaleWebsiteLoginWorkflow</method>
                    </checkwholesitelogin>
                </observers>
            </controller_action_postdispatch>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <quantitycheck>
                        <class>multiplewebsites/observer</class>
                        <method>checkQuantityMultiplier</method>
                    </quantitycheck>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <quantitycheck>
                        <class>multiplewebsites/observer</class>
                        <method>displayQuantityMultiplierErrorMessage</method>
                    </quantitycheck>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <quantitycheck>
                        <class>multiplewebsites/observer</class>
                        <method>checkUpdateQuantityMultiplier</method>
                    </quantitycheck>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
            <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <quantitycheck>
                        <class>multiplewebsites/observer</class>
                        <method>displayQuantityMultiplierErrorMessage</method>
                    </quantitycheck>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>
            <!-- @TODO do a quantity check on sales_order_reorder -->
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <multiplewebsites>
                    <file>wsnyc/multiplewebsites.xml</file>
                </multiplewebsites>
            </updates>
        </layout>
        <events>
            <controller_action_postdispatch_adminhtml_customer_group_save>
                <observers>
                    <checkwholesitelogin>
                        <type>singleton</type>
                        <class>multiplewebsites/observer</class>
                        <method>saveAdditionalCustomerGroupData</method>
                    </checkwholesitelogin>
                </observers>
            </controller_action_postdispatch_adminhtml_customer_group_save>
        </events>
    </adminhtml>
</config>