<?xml version="1.0"?>
<config>
    <modules>
        <Wsnyc_NewsletterModal>
            <version>0.1.1</version>
        </Wsnyc_NewsletterModal>
    </modules>
    <global>
        <blocks>
            <newslettermodal>
                <class>Wsnyc_NewsletterModal_Block</class>
            </newslettermodal>
        </blocks>
        <helpers>
            <newslettermodal>
                <class>Wsnyc_NewsletterModal_Helper</class>
            </newslettermodal>
        </helpers>
        <models>
            <newslettermodal>
                <class>Wsnyc_NewsletterModal_Model</class>
            </newslettermodal>
        </models>
        <resources>
            <newslettermodal_setup>
                <setup>
                    <module>Wsnyc_NewsletterModal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newslettermodal_setup>
            <newslettermodal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newslettermodal_write>
            <newslettermodal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newslettermodal_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <newslettermodal>
                    <file>wsnyc/newslettermodal.xml</file>
                </newslettermodal>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <setSubscriptionStatus>
                        <type>singleton</type>
                        <class>newslettermodal/observer</class>
                        <method>setSubscriptionStatus</method>
                    </setSubscriptionStatus>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <checkout_submit_all_after>
                <observers>
                    <subscribe_customer_to_newsletter>
                        <type>singleton</type>
                        <class>newslettermodal/observer</class>
                        <method>sentSubscription</method>
                    </subscribe_customer_to_newsletter>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <newslettermodal>
            <general>
                <active>1</active>
            </general>
        </newslettermodal>
    </default>
</config> 